<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
		<title>New Contractor</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h2>New Contractor</h2>
		<form method="post" action="submit">
			<div class="row">
				<div class="col-lg-6">
				    <div class="input-group">
				      <span class="input-group-addon">Company</span>
				      <input id="company" type="text" class="form-control" name="company">
				    </div>
				    
				    <div class="input-group">
				      <span class="input-group-addon">Company</span>
				      <input id="company" type="text" class="form-control" name="company" placeholder="Email">
				    </div>
				    
				    <div class="input-group">
				      <span class="input-group-addon">Company</span>
				      <input id="company" type="text" class="form-control" name="company" placeholder="Email">
				    </div>
				    
				    <div class="input-group">
				      <span class="input-group-addon">Company</span>
				      <input id="company" type="text" class="form-control" name="company" placeholder="Email">
				    </div>
				    
				    <div class="input-group">
				      <span class="input-group-addon">Company</span>
				      <input id="company" type="text" class="form-control" name="company" placeholder="Email">
				    </div>
				    
				    <div class="input-group">
				      <span class="input-group-addon">Company</span>
				      <input id="company" type="text" class="form-control" name="company" placeholder="Email">
				    </div>
				    
				    <div class="input-group">
				      <span class="input-group-addon">Company</span>
				      <input id="company" type="text" class="form-control" name="company" placeholder="Email">
				    </div>
				    
				    <div class="input-group">
				      <span class="input-group-addon">Company</span>
				      <input id="company" type="text" class="form-control" name="company" placeholder="Email">
				    </div>
				    
				    <div class="input-group">
				      <span class="input-group-addon">Company</span>
				      <input id="company" type="text" class="form-control" name="company" placeholder="Email">
				    </div>
				</div>
				
				<div class="col-lg-6">
					<table class="table">
						    <thead>
						      <tr>
						        <th>N0.</th>
						        <th>담당자</th>
						        <th>부서명</th>
						        <th>담당자 전화번호</th>
						      </tr>
						    </thead>
						    <tbody>
						    </tbody>
					</table>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
					<input type="submit" class="btn btn-primary pull-right" value="Submit" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>