<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.kneteng.testapp.mapper.ContractorMapper">
	<resultMap type="Contractor" id="ContractorResult">
		<result property = "contractorNo" 	column = "contractor_id"/>
		<result property = "company" 		column = "company" jdbcType="VARCHAR"/>
		<result property = "crn" 			column = "crn" jdbcType="VARCHAR"/>
		<result property = "owner" 			column = "owner" jdbcType="VARCHAR"/>
		<result property = "address" 		column = "address" jdbcType="VARCHAR"/>
		<result property = "business" 		column = "business" jdbcType="VARCHAR"/>
		<result property = "item" 			column = "item" jdbcType="VARCHAR"/>
		<result property = "tel" 			column = "tel" jdbcType="VARCHAR"/>
		<result property = "fax" 			column = "fax" jdbcType="VARCHAR"/>
		<result property = "accountNo" 		column = "account_id" jdbcType="VARCHAR"/>
		<result property = "lastDate" 		column = "last_date" jdbcType="DATE"/>
		<result property = "date" 			column = "date" jdbcType="DATE"/>
		<result property = "requisitionForm" column = "requisition_form" jdbcType="VARCHAR"/>
		<result property = "specification" column = "specification" jdbcType="VARCHAR"/>
		<result property = "productDrawing" column = "product_drawing" jdbcType="VARCHAR"/>
		<collection property="managers" ofType="Manager" resultMap="ManagerResult">
		</collection>
	</resultMap>
	
	<resultMap type="Manager" id="ManagerResult">
		<result property = "managerNo" column = "manager_id"/>
		<result property = "name" column = "name"/>
		<result property = "department" column = "department"/>
		<result property = "tel" column = "tel"/>
		<association property="contractor" resultMap="ContractorResult"/>
	</resultMap>
	
	<!-- Selections -->
   	<select id = "findAll" resultMap = "ContractorResult">
		SELECT * 
		FROM CONTRACTOR C LEFT OUTER JOIN MANAGER M ON C.CONTRACTOR_ID = M.CONTRACTOR_ID; 
   	</select>
   	
   	<select id = "findById" parameterType = "int" resultMap = "ContractorResult">
		SELECT * 
		FROM CONTRACTOR C LEFT OUTER JOIN MANAGER M ON C.CONTRACTOR_ID = M.CONTRACTOR_ID
		WHERE C.CONTRACTOR_ID = #{contractorNo};
   	</select>
   	
	<!-- Deletion -->
	<delete id = "delete" parameterType = "int">
	   DELETE FROM CONTRACTOR WHERE contractor_id = #{contractorNo};
	</delete>
	
	<!-- Insertion -->
	<insert id="insert" parameterType="Contractor" useGeneratedKeys="true" keyProperty="contractorNo">
		INSERT INTO `contractor` (`contractor_id`, `company`, `crn`, `owner`, `address`, `business`, `item`, `tel`, `fax`, `account_id`, `last_date`, `date`, `requisition_form`, `specification`, `product_drawing`) 
		VALUES (NULL, #{company}, #{crn}, #{owner}, #{address}, #{business}, #{item}, #{tel}, #{fax}, #{accountNo}, NOW(), NOW(), #{requisitionForm}, #{specification}, #{productDrawing});
	</insert>
	
	<!-- Update contractor -->
	<update id="update" parameterType="Contractor">
		UPDATE CONTRACTOR 
		SET company = #{company}, 
			crn = #{crn}, 
			owner = #{owner}, 
			address = #{address},
			business = #{business}, 
			item = #{item}, 
			tel = #{tel}, 
			fax = #{fax}, 
			account_id = #{accountNo}, 
			last_date = NOW(),  
			requisition_form = #{requisitionForm}, 
			specification = #{specification}, 
			product_drawing = #{productDrawing} 
			WHERE contractor_id = #{contractorNo}
	</update>
</mapper>