<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.kneteng.testapp.mapper.ManagerMapper">
	<resultMap type="Manager" id="ManagerResult">
		<result property = "managerNo" column = "manager_id"/>
		<result property = "contractorNo" column = "contractor_id"/>
		<result property = "name" column = "name"/>
		<result property = "department" column = "department"/>
		<result property = "tel" column = "tel"/>
	</resultMap>
	
	<!-- Selection -->
   	<select id = "findAll" resultMap = "ManagerResult">
		SELECT * FROM MANAGER; 
   	</select>
   
   	<select id = "findById" parameterType = "int" resultMap = "ManagerResult">
      	SELECT * FROM MANAGER WHERE ID = #{id};
   	</select>
   	
	<!-- Deletion -->
	<delete id = "delete" parameterType = "int">
	   DELETE FROM MANAGER WHERE id = #{id};
	</delete>
	
   <!-- Adding a new Manager -->
	<insert id="insert" parameterType="Manager" useGeneratedKeys="true" keyProperty="manager_id">
		INSERT INTO Manager(contractor_id, name, department, tel)
		VALUES(#{contractor_id}, #{name}, #{department}, #{tel});
	</insert>

	<!-- Update a Manager -->
	<update id="update" parameterType="Manager">
		UPDATE Manager
		SET contractor_id = #{contractorNo}, 
			name = #{name}, 
			department = #{department}, 
			tel = #{tel}
		WHERE manager_id = {managerNo};
	</update>
</mapper>